{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery.min.css' %}">

    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">


</head>
<body>
<div class="container">
    {% block head %}{% endblock head %}
    {% block slider %}{% endblock %}

    {% block form %} {% endblock %}

    {% block signin %}{% endblock %}
    {% block guest_form %}{% endblock %}
    {% block trip %}{% endblock %}
</div>
<script type="text/javascript" src = "{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>